<article>
    <h3>{{title}}</h3>
    <!--    <p>{{words}}...</p>-->
    <p>
        {{#each words}}
            {{this}}
        {{/each}}
        ...
    </p>
    <div class="controls">
        <a href="/articles/details/{{_id}}">Read more</a>
    </div>
</article>