<main>
    <h1>Welcome to SoftUni Wiki!</h1>
    {{>notification}}
    <section>
        {{#if filter}}
            <h2>Search results for: "{{filter}}"</h2>
        {{else}}
            <h2>All articles</h2>
        {{/if}}
        {{>article-data}}
    </section>
</main>