<main>
    <h1>Welcome to SoftUni Wiki!</h1>
    <div class="spacer">
        <h2>{{title}}
            <div class="controls">
                <a href="/articles/edit/{{_id}}">[edit]</a>
                <a href="/articles/delete/{{_id}}">[delete]</a>
            </div>
        </h2>
        <article>
            <p>
                {{description}}
            </p>
            <p>
                Astronomy is one of the oldest of the natural sciences. The early civilizations in recorded history,
                such as the Babylonians,
                Greeks, Indians, Egyptians, Nubians, Iranians, Chinese, Maya, and many ancient indigenous peoples
                of the Americas performed methodical observations of the night sky. Historically, astronomy has
                included disciplines as diverse as astrometry, celestial navigation, observational astronomy
                and the making of calendars, but professional astronomy is now often considered to be synonymous
                with astrophysics
            </p>
        </article>
    </div>
</main>